<div class="wraper">
    <app-category-list></app-category-list>

    <div class="container-fluid">
        <div class="contentProduct">
            <div class="container text-end mb-3">
                <a routerLink="#">
                    <img class="mx-4 rounded" style="height: 35px; width: auto; border: 2px solid green;"
                    src="../assets/image/food-basket.png" alt="edit" title="Kliknij, aby dodać do listy zakupów"> 
                </a>
                
                <a routerLink="/edit-product/#">
                    <img style="height: 30px; width: auto" 
                    src="../assets/image/edit.png" alt="edit" title="Edytuj"> 
                </a>               
            </div> 

            <div class="row text-center">
                <h2> {{product.name | uppercase}} </h2>
                <h6> {{ product.category.name}} - {{product.category.description}} </h6>
                <h6 *ngIf="product.codeBar"> Kod kreskowy: {{ product.codeBar}} </h6>
            </div>

            <hr>

            <div class="row pt-3">
                <img class ="col-6 mx-auto"style="height: 200px; width: auto" [src]="'../assets/' + product.image" alt="{{ product.name }}"> 
                <div class="col-6 text-start mx-auto">
                    <h5>Składniki odżywcze </h5>
                    <h6>energia: {{ product.nutrients.energy}}kcal</h6>
                    <h6>weglowodany: {{ product.nutrients.carbohydrate}}g</h6>
                    <h6>&nbsp;&nbsp;cukry: {{product.nutrients.sugar}}g</h6>
                    <h6>tłuszcze: {{ product.nutrients.fat}}g</h6>
                    <h6>&nbsp;&nbsp;tłuszcze nasycone: {{ product.nutrients.saturatedFat}}g</h6>
                    <h6>błonnik: {{ product.nutrients.fiber}}g</h6>
                    <h6>ocena wartości odżywczej: {{ product.nutrients.nutritionGrade}}</h6>
                </div>
            </div>

        </div>
    </div>
</div>
