<div class="page-wrapper text-center">

    <header>
        <div class="top-header">
            <!-- Logo -->
           
            <!-- Navigation Menu -->
            <nav> 
                <div class="logo">
                    <img src="../assets/images/logo.png" alt="" height="55px"/>
                </div>
                <ul class="top-menu-list">
                    <li class="top-menu-item">
                        <a href="#">Spiżarnia </a>
                    </li>
                    <li class="top-menu-item">
                        <a href="#">Lista Zakupów </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page-container">
        <!-- main content-->
        <app-category-list></app-category-list>

    </div>
</div>


